body {
  background-color: #ffe3ff;
  margin: 0px;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.navbar {
  margin: 16px 30px;
  background-color: #642ca9;
  border-radius: 29px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 17px;
  padding-bottom: 17px;
  
}

.navimg {
    padding-left: 41px;
    padding-left: 41px;
  }

.navli {
  color: #ffe3ff;
  text-decoration: none;
  font-size: 24px;
  font-family: "General Sans Variable";
  font-style: normal;
  font-weight: 500;
  padding-right: 50px;
}

.navli2 {
  color: #ffe3ff;
  text-decoration: none;
  font-size: 24px;
  font-family: "General Sans Variable";
  font-style: normal;
  font-weight: 500;
  padding-right: 41px;
}

.questionbox {
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.hq {
    color: #431D72;
    text-align: center;
    font-family: "General Sans Variable";
    font-size: 44px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    max-width: 900px;
}

.form {
  background-color: #ffe3ff;
  border: 2px solid #642ca9;
  border-radius: 16px;
  font-size: 16px;
  width: 1200px;
  height: 50px;
}

.progress-bar-container {
  margin-left: 30px;
  margin-right: 30px;
  width: auto;
  background-color: #d1b3e0;
  height: 10px;
  border-radius: 5px;
}

.progress-bar {
  width: 0%; /* Initial progress */
  height: 100%;
  background-color: #6a1b9a;
}

.qustion-form {
  margin-left: 30px;
  margin-right: 30px;
  width: 100%;
}

.form-container {
  text-align: center;
  margin-left: 30px;
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.question {
  color: #431D72;
  text-align: center;
  font-family: "General Sans Variable";
  font-size: 44px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  max-width: 900px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.form-group {
  max-width: auto;
  margin-left: 50px;
  margin-right: 50px;
}

.answer {
  width: 100%;
  background-color: #ffe3ff;
  border-radius: 14px;
  border-color: #642ca9;
  width: auto;
  height: 60px;
  border-width: 3px;
}
